.menu li > :not(ul):not(.menu-title):not(details):active,
.menu li > :not(ul):not(.menu-title):not(details).active,
.menu li > details > summary:active {
  color: initial;
  background-color: transparent; /* Set the background color to transparent */
}

nav ul li a.active {
  text-decoration: underline;
  text-underline-offset: 6px;
  transition: ease-in-out;
  font-weight: 700;
  color: #794aff;
}
nav ul li a:hover {
  color: #794aff;

  text-underline-offset: 6px;
}
